.button {
    -fx-background-color: #e3e3e3;
}
.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #dbd9d8;
}
.text-field {
    -fx-padding: 0 0 0 10;
    -fx-background-color: #e3e3e3;
}
/*.list-view{
    -fx-background-color: #ff0000;
}*/
