.profile-pane {
    -fx-background-color: #fafafa;
}
.autograph-label {
    -fx-font-size: 14px;
    -fx-text-fill: #c0c0c0;
}
.send-message-button {
    -fx-padding: 10px 40px;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-background-color: #5cb85c;
    -fx-border-color: #4cae4c;
}
.send-message-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #449d44;
    -fx-border-color: #398439;
}
